<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.organization.form.title}">Edit Organization</title>
</head>
<body>
<section layout:fragment="content">

    <h1 th:if="${newdata}"
            th:text="#{label.organization.form.title.add}">Edit Organization</h1>
    <h1 th:unless="${newdata}"
            th:text="#{label.organization.form.title.edit}">Edit Organization</h1>

    <form method="post" th:action="@{/organization/form}" th:object="${organization}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group row">
            <label for="inputcode" class="col-sm-2 col-form-label"
            th:text="#{label.organization.form.input.code}">Code</label>
            <div class="col-sm-10">
                <input type="text"
                       th:field="*{code}"
                       th:errorclass="is-invalid"
                       class="form-control" id="inputcode">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('code')}">
                    <li th:each="err : ${#fields.errors('code')}" th:text="${err}" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputname" class="col-sm-2 col-form-label"
                   th:text="#{label.organization.form.input.name}">Name</label>
            <div class="col-sm-10">
                <input type="text"
                       th:field="*{name}"
                       th:errorclass="is-invalid"
                       class="form-control" id="inputname">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>

</section>
</body>
</html>