<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Organization List</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Organization List</h1>

    <a class="btn btn-primary" href="form">Add New</a>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${dataOrganisasi}">
            <td th:text="${o.code}">O-99</td>
            <td th:text="${o.name}">Organization 99</td>
            <td>
                <a th:href="@{/organization/form(id=${o.id})}">edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>