<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Home Page</h1>

    <h2 th:if="${nama}"
            th:text="${'Halo '+ nama}">Halo endy</h2>

    <h2>Waktu sekarang : <span th:text="${waktu}">14:00</span></h2>
</section>
</body>
</html>