<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit Batch</title>
</head>
<body>
<section layout:fragment="content">

    <h1 >Edit Batch</h1>


    <form method="post" th:action="@{/batch/form}" th:object="${batch}">
        <input type="hidden" th:field="*{id}">

        <div class="form-group row">
            <label for="inputorg" class="col-sm-2 col-form-label">Organization</label>
            <div class="col-sm-10">
                <select
                       th:field="*{product.organization.id}"
                       th:errorclass="is-invalid"
                       class="form-control" id="inputorg">
                    <option th:value="'o002'" th:text="'Organization 002'"></option>
                </select>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('product.organization')}">
                    <li th:each="err : ${#fields.errors('product.organization')}" th:text="${err}" />
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputproduct" class="col-sm-2 col-form-label">Product</label>
            <div class="col-sm-10">
                <select
                        th:field="*{product.id}"
                        th:errorclass="is-invalid"
                        class="form-control" id="inputproduct">
                    <option th:value="'p002'" th:text="'Product 002'"></option>
                </select>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('product')}">
                    <li th:each="err : ${#fields.errors('product')}" th:text="${err}" />
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputcode" class="col-sm-2 col-form-label">Code</label>
            <div class="col-sm-10">
                <input type="text"
                       th:field="*{code}"
                       th:errorclass="is-invalid"
                       class="form-control" id="inputcode">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('code')}">
                    <li th:each="err : ${#fields.errors('code')}" th:text="${err}" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputname" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text"
                       th:field="*{name}"
                       th:errorclass="is-invalid"
                       class="form-control" id="inputname">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

</section>
</body>
</html>